<header>
    <div class="container">
        <a routerLink="" class="logo">Food Corner</a>
        <nav>
            <ul>
                <li *ngIf="!isUserAuthenticated">
                    <a routerLink="login">Login</a>
                </li>
                <li *ngIf="isUserAuthenticated" class="menu-container">
                    <a routerLink="dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="profile">Profile</a>
                        <a routerLink="order">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="cart">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>